* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/img/background.jpg");
  background-attachment: fixed;
}

body .navv {
  background-color: #443344 !important;
  height: 50px;
}

body .navv .collapse {
  line-height: 28px;
}

body .navv .navbar-brand {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 25px;
  color: white;
}

body .navv .navbar-brand:hover {
  color: red;
}

body .navv .nav {
  height: 50px;
}

body .navv .nav li {
  text-align: center;
  margin-left: 10px;
}

body .navv .nav .nav-link {
  color: white;
}

body .navv .nav li:hover {
  background-color: #665566;
  color: #fff;
  border-bottom: 2px solid #EB233C;
}

body .navv .nav .active {
  background-color: #665566;
  color: #fff;
  border-bottom: 2px solid #EB233C;
}

body .navv .nav .active .nav-link {
  color: white;
}

body #banner {
  background-color: rgba(15, 5, 20, 0.84);
  padding-bottom: 220px;
  color: white;
}

body #banner .container .banner-text {
  text-align: center;
  margin-top: 210px;
}

body #banner .container .banner-text h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 50px;
}

body #banner .container .banner-text h2 span {
  color: red;
}

body #banner .container .banner-text p {
  font-size: 15px;
  font-weight: 700;
  font-family: 'Work Sans',sans-serif;
}

body #banner .container .banner-text a {
  border: 1px solid rgba(204, 204, 204, 0.18);
  font-size: 15px;
  padding: 12px 35px;
  color: #ccc;
  margin-top: 31px;
}

body #banner .container .banner-text a:hover {
  background-color: #ccc;
  color: black;
}

body #footer {
  background-color: white;
  padding-bottom: 20px;
}

body #footer .container {
  margin-left: 213px;
}

body #footer .media {
  margin-top: 100px;
}

body #footer .media .iconn {
  position: relative;
  top: 50px;
  right: 46px;
}

body #footer .media .iconn .far {
  font-size: 25px;
  color: red;
}

body #footer .container-text h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 20px;
}

body #footer .container-text p {
  width: 75%;
  font-size: 14px;
}

body #work {
  background-color: #faf4fa;
  padding-bottom: 98px;
}

body #work .container-text {
  text-align: center;
  margin-bottom: 20px;
}

body #work .container-text h2 {
  border-bottom: 2px solid #EB233C;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 24px;
  display: inline-block;
}

body #work .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #work .row .col-md-6 {
  width: 43%;
  margin-bottom: 30px;
}

body #work .row .col-md-6 a {
  text-decoration: none;
}

body #work .row .col-md-6:hover {
  opacity: 0.7;
}

body #work .row .col-md-6:hover a {
  text-decoration: none;
}

body #work .link {
  text-align: center;
  margin-top: 32px;
}

body #work .link a {
  text-decoration: none;
  border: 2px solid;
  padding: 13px 35px;
  background: #EB233C;
  border-radius: 45px;
  color: white;
}

body #testimonial {
  background-color: white;
}

body #testimonial .row .container-text {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

body #testimonial .row .container-text h2 {
  font-family: 'Oleo Script Swash Caps', cursive;
  border-bottom: 2px solid red;
  display: inline-block;
  font-size: 26px;
}

body #testimonial .owl-carusell {
  background-color: rgba(235, 213, 235, 0.26);
  padding: 20px 20px 10px;
  border-radius: 10px;
  text-align: center;
  width: 99%;
  display: inline-block;
  margin-bottom: 27px;
}

body #testimonial .owl-carusell .item-image {
  position: relative;
  left: 163px;
}

body #testimonial .owl-carusell .item-image img {
  width: 80px;
  text-align: center;
  height: 80px;
  border-radius: 63px;
}

body #testimonial .owl-carusell .item-image h3 {
  margin-top: 6px;
  text-align: start;
}

#testimonial2 {
  padding-bottom: 40px;
  background-color: rgba(15, 5, 20, 0.84);
}

#testimonial2 h3 {
  font-family: 'Oleo Script Swash Caps', cursive;
  display: inline-block;
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 2px solid red;
}

#testimonial2 p {
  color: white;
  font-size: 15px;
  font-family: 'Work Sans',sans-serif;
}

#testimonial2 .container-link {
  margin-top: 20px;
  text-align: center;
}

#testimonial2 .container-link a {
  text-decoration: none;
  border: 2px solid #EB233C;
  padding: 12px 35px;
  border-radius: 25px;
  background: #EB233C;
  color: white;
}

#about {
  background-color: white;
}

#about .container-text {
  margin-top: 41px;
  text-align: center;
}

#about .container-text h3 {
  display: inline-block;
  font-family: 'Oleo Script Swash Caps', cursive;
  border-bottom: 2px solid red;
}

#about .about-text {
  margin-top: 28px;
}

#about .about-text p {
  font-size: 15px;
  font-weight: 400;
}

#about .client {
  text-align: center;
  margin-top: 32px;
}

#about .client h5 {
  font-size: 16px;
  margin-bottom: -6px;
}

#about .client .timer {
  color: #EB233C;
  font-size: 50px;
  font-weight: 200;
}

#contact {
  background-color: #faf4fa;
  padding-bottom: 30px;
}

#contact .container-text {
  margin-top: 40px;
  text-align: center;
}

#contact .container-text h3 {
  display: inline-block;
  font-family: 'Oleo Script Swash Caps', cursive;
  border-bottom: 2px solid red;
}

#contact .formm {
  margin-top: 109px;
}

#contact .formm .mess {
  border: none;
  width: 95%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border-bottom: 2px solid #EB233C;
  resize: none;
}

#contact .formm .mess:focus {
  border-bottom: 2px solid #000000;
}

#contact .formm .linkk {
  text-align: center;
  margin-top: 32px;
}

#contact .formm .linkk a {
  text-decoration: none;
  border: 2px solid #EB233C;
  padding: 12px 35px;
  border-radius: 25px;
  background: #EB233C;
  color: white;
}

#contact .adress {
  margin-top: 72px;
}

#contact .adress .container-text {
  text-align: start;
  margin-left: 100px;
}

#contact .adress .container-text h5 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #EB233C;
}

#contact .adress .container-text p {
  width: 35%;
  font-weight: 600;
}

#contact .adress .email .fas {
  color: #EB233C;
}

#footer2 {
  background-color: white;
  padding: 20px;
}

#footer2 .social-buttons li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

#footer2 .social-buttons li a {
  background-color: #222;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  outline: 0 none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
}

#footer2 .social-buttons li a:hover {
  background-color: #EB233C;
}

#footer2 .quicklinks li a {
  color: #EB233C;
  text-decoration: none;
}

#footer2 .img {
  text-align: center;
  margin-top: 33px;
}
/*# sourceMappingURL=style.css.map */